<!-- Navigation -->
<nav class="navbar navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="/#/home"><image id="logoImg" class="img-responsive logo" src="turn-logo.gif" alt="The Turn Consultancy" title="The Turn Consultancy"></image></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a ng-href="/#/home">Home</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a ng-href="/#/what_we_can_do">What We Can Do For You</a></li>
                    <li><a ng-href="/#/new_product_development">New Product Development</a></li>
                    <li><a ng-href="/#/new_product_introduction">New Product Introduction</a></li>
                    <li><a ng-href="/#/business_process_analysis">Business Process Analysis</a></li>
                    <li><a ng-href="/#/lean_six_sigma">Lean Six Sigma</a></li>
                    <li><a ng-href="/#/design_for_environment">Design For Environment</a></li>
                    <li><a ng-href="/#/strategic_procurement">Strategic Procurement</a></li>
                  </ul>
                </li>
                <li>
                    <a ng-href="/#/about">About Us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>