<div class="banner services03"></div>

<!-- Page Content -->
<div class="container page-content">

    <div class="row">
        <div class="col-md-8 main">
            <h1>Business Process Analysis</h1>
            <p>Business Process Analysis (BPA) improves processes and strategies, and in doing so, adds value to products or services that companies are already offering to their customers. It includes mapping and documenting processes ‘as is’ and developing ‘to be’ strategies. ‘To be’ strategies eliminate components of any process that are not adding specific value and incorporating new steps that will add value, resulting in a better price, lower manufacturing costs, reduced delivery time while minimising potential risks. We can help you carry out ‘root cause analyses’ and assist with the creation of metrics and KPIs, in addition to the implementation of project deliverables if required.  We use different methodology in our improvement of processes, including <a href="lean_six_sigma.html" title="Lean Six Sigma">Lean Six Sigma</a>. The Turn Consultancy promotes sustainability, by encouraging improvement and innovation through the application of best practices.</p>
        </div>
     <div class="col-md-4">
            <h4>Contact Us</h4>
            <p>If you have any questions, or would like more information on how The Turn Consultancy can help your business, please contact us.</p>

            <div class="contact-link"><i class="fa fa-envelope"></i> <a href="mailto:info@turn-consultancy.com" title="Email">info@turn-consultancy.com</a></div>
            <div class="contact-link"><i class="fa fa-twitter"></i> <a href="https://twitter.com/TurnConsultancy" title="Twitter" target="_blank">@TurnConsultancy</a></div>
            <div class="contact-link"><i class="fa fa-phone-square"></i> <a href="tel:0047 41 329 752" title="Phone">+47 41 329 752</a></div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->