<div class="banner services05"></div>

<!-- Page Content -->
<div class="container page-content">

    <div class="row">
        <div class="col-md-8 main">
            <h1>Design for Environment</h1>
            <p>Environmental and sustainable performance has become key considerations of any forward-thinking company. Today, it is becoming ever more crucial for companies to make decisions and produce products that are both financially sound and have a positive impact on the environment. To achieve true global sustainability, many industrial systems need to be fundamentally redesigned to generate greater value from fewer resources.</p>

            <p>An increase in public and customer awareness, together with requirements to comply with government legislation, are driving change in companies’ processes through the adoption of sustainable and more environmentally friendly business practices across all industries. Practices that lead to a company’s improved environmental and sustainability performance can increase profitability, reduce operating costs and enhance the image of an organisation and brand reputation.</p>

            <p>Paying attention to Design for Environment (DfE) during the product development phase is vital. No company wants to discover at the marketing phase that their products cannot be sold in certain regions or countries because, for example, the materials that are used in production are not permitted.</p>
            
            <p>Key DfE concepts include:</p>

            <ul>
            <li>Design for environmental processing and manufacturing: To ensure raw material extraction, processing and manufacturing are done using materials and processes, which minimise the environmental impact and are not putting at risk the health of employees.</li>

            <li>Waste reduction, minimising hazardous by-products and air pollution and improving energy efficiency.</li>

            <li>Design for environmental packaging: Guarantees that materials used in packaging are environmentally friendly.  This can be accomplished by reusing shipping products, removal of excessive paper and packaging, effective use of materials and space, use of recycled and recyclable materials.</li>

            <li>Design for disposal or reuse: Planning the reuse or refurbishment of a product involves using materials that can later be disassembled and reused. The environmental impacts of any discharges/emissions from materials should be minimised when disposed of.</li>

            <li>Design for energy efficiency: Energy consumption is integrated into the design of products to reduce energy use throughout the product's life.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Contact Us</h4>
            <p>If you have any questions, or would like more information on how The Turn Consultancy can help your business, please contact us.</p>

            <div class="contact-link"><i class="fa fa-envelope"></i> <a href="mailto:info@turn-consultancy.com" title="Email">info@turn-consultancy.com</a></div>
            <div class="contact-link"><i class="fa fa-twitter"></i> <a href="https://twitter.com/TurnConsultancy" title="Twitter" target="_blank">@TurnConsultancy</a></div>
            <div class="contact-link"><i class="fa fa-phone-square"></i> <a href="tel:0047 41 329 752" title="Phone">+47 41 329 752</a></div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->