<div class="banner home"></div>

<!-- Page Content -->
<div class="container page-content">
    <div class="row">
        <div class="col-md-8 main">
            <h1>Experts in Business Process Management</h1>
            <p>Regardless of the field your company is involved in, we understand that you want your product or service to be successful. Analysing current work-flow followed by optimisation or re-engineering of processes can contribute to an organisation realising its full potential. Tailored and effective best practices and strategies minimise waste and add value from the initial concept through to a products’ end of life, irrespective of the type of industry.</p>

            <p>The Turn Consultancy was established from our desire to help companies with process management that we feel is essential for providing your customers with the best possible products or services.</p>

            <p>Our experts come from a range of different fields with backgrounds in both manufacturing and the service sector. We have experience of working in Scandinavia, the Baltic States, Finland, Germany, Russia and the United Kingdom.</p>
        </div>
        <div class="col-md-4 contact">
            <h4>Contact Us</h4>
            <p>If you have any questions, or would like more information on how The Turn Consultancy can help your business, please contact us.</p>

            <div class="contact-link"><i class="fa fa-envelope"></i> <a href="mailto:info@turn-consultancy.com" title="Email">info@turn-consultancy.com</a></div>
            <div class="contact-link"><i class="fa fa-twitter"></i> <a href="https://twitter.com/TurnConsultancy" title="Twitter" target="_blank">@TurnConsultancy</a></div>
            <div class="contact-link"><i class="fa fa-phone-square"></i> <a href="tel:0047 41 329 752" title="Phone">+47 41 329 752</a></div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->