<div class="banner services04"></div>

<!-- Page Content -->
<div class="container page-content">

    <div class="row">
        <div class="col-md-8 main">
            <h1>Lean Six Sigma</h1>
            <p>Lean Six Sigma combines the lean philosophy with Six Sigma’s emphasis on methodology. It is the name given to encompass a set of techniques and tools for process improvement. It was developed in the mid-1980s closely associated with manufacturing, and today, it is used in many industrial sectors. The statistical representation of Lean Six Sigma allows process performance to be described quantitatively.</p>
            
            <p>Lean Six Sigma aims to identify and remove the source of defects and errors, therefore minimising variability in manufacturing and business processes. This leads to improvements in quality of the process outputs. If it is possible to measure how many ‘defects’ you have in a process, you will have a better understanding of the process and can then design the most effective solutions to remove these flaws and get as close to eliminating them as possible. A Lean Six Sigma defect is defined as anything outside of customer specifications.</p>

            <p><strong>A quantitative representation of process performance.</strong></p>
            <table class="tg">
              <tr>
                <th class="tg-s6z2"><strong>Sigma quality level</strong></th>
                <th class="tg-s6z2"><strong>Defects per million opportunities (DPMO)</strong></th>
                <th class="tg-s6z2"><strong>Yield (%)</strong></th>
              </tr>
              <tr>
                <td class="tg-s6z2">1</td>
                <td class="tg-s6z2">690,000</td>
                <td class="tg-s6z2">31</td>
              </tr>
              <tr>
                <td class="tg-s6z2">2</td>
                <td class="tg-s6z2">308,000</td>
                <td class="tg-s6z2">69.2</td>
              </tr>
              <tr>
                <td class="tg-s6z2">3</td>
                <td class="tg-s6z2">66,800</td>
                <td class="tg-s6z2">99.32</td>
              </tr>
              <tr>
                <td class="tg-s6z2">4</td>
                <td class="tg-s6z2">6,210</td>
                <td class="tg-s6z2">99.379</td>
              </tr>
              <tr>
                <td class="tg-s6z2">5</td>
                <td class="tg-s6z2">233</td>
                <td class="tg-s6z2">99.977</td>
              </tr>
              <tr>
                <td class="tg-s6z2">6</td>
                <td class="tg-s6z2">3.4</td>
                <td class="tg-s6z2">99.9997</td>
              </tr>
            </table>

            <p>Improvements are achieved by employing two Lean Six Sigma sub-methodologies:</p>
            <ul>
            <li>DMAIC (existing processes) - define, measure, analyse, improve, control</li>
            <li>DMADV (new processes or products) - define, measure, analyse, design, verify</li>
            </ul>
            <p>A Lean Six Sigma project will follow a distinct sequence of steps that has quantifiable value targets, such as a reduction in delivery time, reducing environmental impact pollution, lowering costs whilst maximising profits and increasing customer satisfaction.</p>
        </div>
        <div class="col-md-4">
            <h4>Contact Us</h4>
            <p>If you have any questions, or would like more information on how The Turn Consultancy can help your business, please contact us.</p>

            <div class="contact-link"><i class="fa fa-envelope"></i> <a href="mailto:info@turn-consultancy.com" title="Email">info@turn-consultancy.com</a></div>
            <div class="contact-link"><i class="fa fa-twitter"></i> <a href="https://twitter.com/TurnConsultancy" title="Twitter" target="_blank">@TurnConsultancy</a></div>
            <div class="contact-link"><i class="fa fa-phone-square"></i> <a href="tel:0047 41 329 752" title="Phone">+47 41 329 752</a></div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->