<div class="banner services02"></div>

<!-- Page Content -->
<div class="container page-content">

    <div class="row">
        <div class="col-md-8 main">
            <h1>New Product Introduction</h1>
            <p>A continuous improvement mindset is essential to reach any company's goals.  New Product Lean Introduction (NPI) is a process for delivering a product from development to manufacturing. NPI comes after a successful ‘pilot product’ or ‘prototype’ that has been through the Conformation Test and Customer Acceptance stage.</p>

            <p>The NPI process defines the methods and stages required for a smooth transition from the design environment to manufacturing. NPI, therefore, is focused on getting the right elements to the correct location, on time and in the right quantity, to achieve a perfect work flow, while minimising waste and maximising flexibility and adaptability.</p>

            <p>In some cases, NPD and NPI are brought together in one process, but The Turn Consultancy prefers to follow these as two separate processes that are strongly linked but do not necessarily form a single process.</p> 
            
            <p>Whether your product is a low or high volume product it is very important that all the risks and waste generated during the manufacturing process are minimised, and in doing so, reducing unnecessary financial risk.</p>

            NPI contains the following aspects: 
            <ul>
            <li>Identifying as many of the visible quality problems as possible, in addition to downtime and other instability problems, and ensuring any internal waste is identified and the appropriate management is implemented.</li>

            <li>Ensuring the flow of elements through the system or process is as continuous as possible, using work cells and market locations where necessary, and avoiding variations in operators’ work cycles.</li>

            <li>Introducing standard work practices and stabilising the work flow through a system.</li>

            <li>Initiate production through the system and examine the production scheduling.</li> 

            <li>Leveling out the production flow by reducing batch sizes, increasing delivery frequency internally, and if possible externally, and balancing internal demand.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Contact Us</h4>
            <p>If you have any questions, or would like more information on how The Turn Consultancy can help your business, please contact us.</p>

            <div class="contact-link"><i class="fa fa-envelope"></i> <a href="mailto:info@turn-consultancy.com" title="Email">info@turn-consultancy.com</a></div>
            <div class="contact-link"><i class="fa fa-twitter"></i> <a href="https://twitter.com/TurnConsultancy" title="Twitter" target="_blank">@TurnConsultancy</a></div>
            <div class="contact-link"><i class="fa fa-phone-square"></i> <a href="tel:0047 41 329 752" title="Phone">+47 41 329 752</a></div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->