<div class="banner services06"></div>

<!-- Page Content -->
<div class="container page-content">

    <div class="row">
        <div class="col-md-8 main">
            <h1>Strategic Procurement (Supply Chain Analysis)</h1>
            <p>Reducing the cost of a product, or service, is in the interest of every company. One method to achieve this is by analysing and identifying any cost reduction possibilities in the supply chain. Developing strategies for procurement are necessary, not only on a financial basis, but also to minimise potential risks. We can assist you with the development of a strategic procurement plan, analyse your current spending and highlight any possible changes that would reduce your financial costs. We can also provide support in constructing an effective supplier base that avoids using single sources, which could put your business at potential risk. We can map your work-flow through the supply chain, leading to improved processes and ensuring, as far as possible, that considerations surrounding materials and/or use of external services are taken fully in to account.</p>
        </div>
       <div class="col-md-4">
            <h4>Contact Us</h4>
            <p>If you have any questions, or would like more information on how The Turn Consultancy can help your business, please contact us.</p>

            <div class="contact-link"><i class="fa fa-envelope"></i> <a href="mailto:info@turn-consultancy.com" title="Email">info@turn-consultancy.com</a></div>
            <div class="contact-link"><i class="fa fa-twitter"></i> <a href="https://twitter.com/TurnConsultancy" title="Twitter" target="_blank">@TurnConsultancy</a></div>
            <div class="contact-link"><i class="fa fa-phone-square"></i> <a href="tel:0047 41 329 752" title="Phone">+47 41 329 752</a></div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->