<div class="banner services"></div>

<!-- Page Content -->
<div class="container page-content">

    <div class="row">
        <div class="col-md-8 main">
        <h1>What we can do for you</h1>
        <p class="lead">The Turn Consultancy is able to provide the following services:</p>
        <ul>
        <li>Implementation of <a href="new_product_development.html" title="New Product Development">New Product Development</a> (NPD) process for your products/services that are in the development stage and have not yet reached the manufacturing phase.</li>

        <li>Implementation of <a href="new_product_introduction.html" title="New Product Lean Introduction">New Product Lean Introduction</a> (NPI) process for smooth integration for a product from development to manufacturing.</li>

        <li><a href="business_process_analysis.html" title="Business Process Analysis">Business Process Analysis</a> (BPA) for your existing product/services to identify best practices and processes in order to achieve established goals you might have regarding that product/service, such as reduced cost, fulfilling customer expectations and quality improvements.</li>

        <li>Employing the <a href="lean_six_sigma.html" title="Lean Six Sigma">Lean Six Sigma</a> approach,  a set of techniques and tools for process improvement.</li>

        <li><a href="design_for_environment.html" title="Design for Environment">Design for Environment</a> (DfE) process to reduce the impact of your products on the environment, and improve social responsibility through greater efficiency and more sustainable practices.</li>

        <li><a href="strategic_procurement.html" title="Strategic Procurement">Strategic Procurement</a> and/or Supply Chain Analysis (SCA) to develop strategies that add value to your procurement activities.</li>
        </ul>

        <p>We can create work-flow maps, analyse current processes and advise where we see value in changing the processes. We can develop Best Practices that are tailored to your company.</p>

        <p>The Turn Consultancy feels that this is more effectively done by an external consultancy. It is often easier to identify waste and pinpoint where additional value can be implemented for someone who is not regularly following existing processes and can observe work flow from a fresh perspective. It is more difficult to independently analyse and recognise the need for change from within an organisation.</p>
        </div>
        <div class="col-md-4">
            <h4>Contact Us</h4>
            <p>If you have any questions, or would like more information on how The Turn Consultancy can help your business, please contact us.</p>

            <div class="contact-link"><i class="fa fa-envelope"></i> <a href="mailto:info@turn-consultancy.com" title="Email">info@turn-consultancy.com</a></div>
            <div class="contact-link"><i class="fa fa-twitter"></i> <a href="https://twitter.com/TurnConsultancy" title="Twitter" target="_blank">@TurnConsultancy</a></div>
            <div class="contact-link"><i class="fa fa-phone-square"></i> <a href="tel:0047 41 329 752" title="Phone">+47 41 329 752</a></div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->